{% extends 'base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card" style="height: 400px;">
                <div class="px-4 form_container">
                    <form method="post" class="mb-3">
                        {% csrf_token %}

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form.username }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.password }}
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" class="btn login_btn">Login</button>
                        </div>
                    </form>
                    <hr class="mt-4 mb-3"/>

                    <a class="d-block" href="{% url 'reset_password' %}" style="font-size: 0.8rem; color: red">Password
                        Forgotten</a>
                    <a href="{% url 'register' %}" class="ml-auto " style="font-size: 0.8rem">Not Registered yet?</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
