{% extends 'base.html' %}
{% load static %}

{% block title %}
    Public Profile
{% endblock %}
{% block content %}{% csrf_token %}
    <!-- profile -->
    <div class="container mt-5 bg__">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="card testimonial-card shadow mb-5">
                    <div class="card-up indigo"></div>
                    <img style=" background-image:url({{ request.user.profile.avatar.url }});"
                         class="profileImg img-fluid img-responsive  avatar mx-auto white"
                         alt=""
                         src=""/>
                    <div class="card-body">
                        <h4 class="card-title mt-2"><strong>
                            {% if user.profile.display_name %}
                                {{ user.profile.display_name }}
                            {% else %}
                                Display Name
                            {% endif %}
                        </strong></h4>
                        <hr class="mb-3"/>
                        <div class="text-left">
                            <h5>Bio</h5>
                            <p>
                                {% if user.profile.bio %}
                                    {{ user.profile.bio }}
                                {% endif %}
                            </p>
                        </div>
                        <a class="btn btn-block btn-color" href="mailto:{{ user.email }}">cantact</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 px-5">
                {% for link in links %}
                    <a href="{{ link.url }}" class="" onclick="IncClick('{{ link.id }}')">
                        <div class="listItem shadow pl-3 pt-3 pb-1 mb-2 bg-white font-link border-card">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="rounded-circle align-middle" style="flex: 1">
                                    {% if link.image %}
                                        <img class="rounded-circle" width="50" src="{{ link.image.url }}" alt="">
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="" style="flex: 8">
                                    <h5>{{ link.title }}</h5>
                                    <p class="text-muted">
                                        <span><img class="globe-outline" src="{% static 'img/globe-outline.svg' %}"
                                                   alt=""/>{{ link.url }}</span>
                                    </p>
                                </div>
                                <div class="pr-0" style="flex: 1">
                                    <img class="arrow-redo-outline ml-0" src="{% static 'img/arrow-redo-outline.svg' %}"
                                         alt=""/>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                {% if facebook_url or youtube_url or instagram_url or twitter_url %}
                    <hr>
                    <p>Social Media Profiles</p>
                    {% if instagram_url %}
                        <a href="{{ instagram_url }}">

                            <div class="listItem shadow pl-3 pt-3 pb-1 bg-white font-link border-card mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="" style="flex: 1"><i class="fab fa-instagram fa-3x"></i></div>
                                    <div class="" style="flex: 8">
                                        <h5>Instagram</h5>
                                        <p class="text-muted">
                                    <span><img class="globe-outline" src="{% static 'img/globe-outline.svg' %}"
                                               alt=""/>{{ instagram_url }}</span>
                                        </p>
                                    </div>
                                    <div class="pr-0" style="flex: 1">
                                        <img class="arrow-redo-outline ml-0"
                                             src="{% static 'img/arrow-redo-outline.svg' %}"
                                             alt=""/>
                                    </div>
                                </div>
                            </div>
                        </a>

                    {% endif %}
                    {% if youtube_url %}
                        <a href="{{ youtube_url }}">
                            <div class="listItem shadow pl-3 pt-3 pb-1 bg-white font-link border-card mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="" style="flex: 1"><i class="fab fa-youtube-square fa-3x"></i></div>
                                    <div class="" style="flex: 8">
                                        <h5>Youtube</h5>
                                        <p class="text-muted">
                                    <span><img class="globe-outline" src="{% static 'img/globe-outline.svg' %}" alt=""/>
                                        {{ youtube_url }}
                                    </span>
                                        </p>
                                    </div>
                                    <div class="pr-0" style="flex: 1">
                                        <img class="arrow-redo-outline ml-0"
                                             src="{% static 'img/arrow-redo-outline.svg' %}"
                                             alt=""/>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    {% if twitter_url %}
                        <a href="{{ twitter_url }}">
                            <div class="listItem shadow pl-3 pt-3 pb-1 bg-white font-link border-card mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="" style="flex: 1"><i class="fab fa-twitter-square fa-3x"></i></div>
                                    <div class="" style="flex: 8">
                                        <h5>Youtube</h5>
                                        <p class="text-muted">
                                    <span><img class="globe-outline" src="{% static 'img/globe-outline.svg' %}" alt=""/>
                                        {{ youtube_url }}
                                    </span>
                                        </p>
                                    </div>
                                    <div class="pr-0" style="flex: 1">
                                        <img class="arrow-redo-outline ml-0"
                                             src="{% static 'img/arrow-redo-outline.svg' %}"
                                             alt=""/>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    {% if facebook_url %}
                        <a href="{{ facebook_url }}">
                            <div class="listItem shadow pl-3 pt-3 pb-1 bg-white font-link border-card mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="" style="flex: 1"><i class="fab fa-facebook-square fa-3x"></i></div>
                                    <div class="" style="flex: 8">
                                        <h5>Facebook</h5>
                                        <p class="text-muted">
                                    <span><img class="globe-outline" src="{% static 'img/globe-outline.svg' %}" alt=""/>
                                        {{ facebook_url }}
                                    </span>
                                        </p>
                                    </div>
                                    <div class="pr-0" style="flex: 1">
                                        <img class="arrow-redo-outline ml-0"
                                             src="{% static 'img/arrow-redo-outline.svg' %}"
                                             alt=""/>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
