{% extends 'base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100 ">
            <div class="user_card" style="">
                <div class="px-4 form_container">
                    <form method="post">
                        {% csrf_token %}
{#                        {{ form.as_p }}#}

                        {{ form.email.errors }}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            {{ form.email }}
                        </div>

                        {{ form.username.errors }}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form.username }}
                        </div>
                        {{ form.password.errors }}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.password1 }}
                        </div>
                        {{ form.password2.errors }}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.password2 }}
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" class="btn login_btn">Register</button>
                        </div>
                    </form>
                    <hr class="mt-4 mb-3"/>

                    <a class="d-block" href="{% url 'reset_password' %}" style="font-size: 0.8rem; color: red">Password
                        Forgotten</a>

                    <a href="{% url 'login' %}" class="ml-auto " style="font-size: 0.8rem">Already Have an Account?</a>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
