{% extends 'base.html' %}
{% load static %}

{% block title %}
    Links
{% endblock %}

{% block content %}
    <div class="container-fluid w-100">
        <div class="container mt-5 bg__">
            <div class="d-flex justify-content-between mb-4">
                <div class="d-flex">
                    <span>Link</span>
                    <div class="link-count text-center ml-2">{{ links.count }}</div>
                </div>
                <div>
                    <a class="btn btn-color" href="{% url 'link_create' %}">+ Add Link</a>
                </div>

            </div>
            <hr/>

            <div class="d-flex flex-wrap">
                {% for link in links %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card shadow mb-5 border-card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h4 class="card-title mt-2">{{ link.title }}</h4>
                                        <span class="d-flex flex-column justify-content-between align-items-start">
                                            <img width="20" class="globe-outline mr-2"
                                                 src="{% static 'img/globe-outline.svg' %}" alt=""/>
                                            <p class="text-muted mb-0">
                                            {{ link.url|truncatechars:30 }}
                                            </p>
                                        </span>
                                    </div>
                                    <!-- TODO add link to submit -->
                                    {#                                        <form action="" method="post" class="">#}
                                    {#                                            {% csrf_token %}#}
                                    {#                                        </form>#}
                                </div>
                                <hr class="mb-3"/>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="link-count text-center">{{ link.num_clicks }}</div>
                                        {#                                            <span class="p-1 click">{{ link.num_clicks }}</span>#}
                                        <span class="ml-2"> click</span>
                                    </div>
                                    <div>
                                        <a href="{% url 'link_edit' link.id %}" class="btn btn-color"
                                           style="background-color:#A4B9BA;">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row mt-5">
            </div>
        </div>


    </div>



{% endblock %}
