{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

    <link href="{% static 'css/vendors/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet">
    <style>

        #wrapper {
            min-height: 100%;
            margin-bottom: -50px;
        {#padding-bottom: 2.5rem; /* Footer height */#}
        }

        .footer,
        .push {
            height: 50px;
        }

    </style>
</head>
<body class="">

<div id="wrapper" class="" >
    {% include 'partials/_navbar.html' %}
    {% include 'partials/_alerts.html' %}

    {% block content %}{% endblock %}
    <div class="push"></div>

</div>
{% include 'partials/_footer.html' %}

<!-- JQuery -->
<script src="{% static 'js/vendors/jquery.min.js' %}"></script>
<script src="{% static 'js/vendors/popper.min.js' %}"></script>
<script src="{% static 'js/vendors/bootstrap.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/main.min.js' %}"></script>
{% block script %}
    <script>
        let csrf = $('input[name=csrfmiddlewaretoken]').val()

        function IncClick(id) {
            // alert('Event: ', e)
            console.log('ID: ', id)
            $.ajax({
                type: "POST",
                url: '/links/link_clicked/',
                data: {
                    id: id,
                    csrfmiddlewaretoken: csrf
                },
                success: function (response) {
                    console.log('Success', response)
                },
            });
        }

        function myFunction() {
            var copyText = document.getElementById("addr_input");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");

            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }

    </script>
{% endblock %}

</body>
</html>
